.trainer-register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .trainer-register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .client-register-container form {
    display: flex;
    flex-direction: column;
  }
  
  .client-register-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .client-register-container button {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .client-register-container button:hover {
    background-color: #218838;
  }
  
  .client-register-container p {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
  }
  